html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  background-color: $mainBgColor;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  margin: 0;
}

button {
  outline: none;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: 960px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: 1200px) {
    margin: 0 auto;
    width: 1170px;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
