$primaryColor: #ff9501;
$secondaryColor: #008d36;
$mainBgColor: #ffffff;
$formControlBgColor: #f6f6f6;
$formControlBorderColor: #f1f1f1;
$formControlColor: #cccccc;
$helpIconColor: #c4c4c4;
$primaryTextColor: #000000;
$secondaryTextColor: #ffffff;
$helpTextColor: rgba(51, 51, 51, 0.4);
$invalidColor: #e30000;
$boxShadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
$modalBgColor: rgba(0, 0, 0, 0.5);
$timingFn: cubic-bezier(0.4, 0, 0.2, 1);
$animationDuration: 250ms;
